h1{
background-color: #081b31;
color: #fff;
height: 5rem;
line-height: 5rem;
text-align: center;
}
img{
    height: 190px;
    width: 190px;
    border-radius: 50%;
    object-fit: cover;
}
.container{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 5rem;
}
.choice {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover {
    cursor: pointer;
    background-color: #081b31;
}
.score-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#player,#comp{
    font-size: 4rem;
}
.msg-container {
    display: flex;
    /* margin-top: 2rem; */
    justify-content: center;
  }
  
  #msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
  }